<div>
  <h3>Tipos de serviços</h3>
  <ul>
    <li *ngFor="let tipo of tipos">
        {{ tipo }}
    </li>
  </ul>
</div>

<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <h4>Serviços</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Serviço</button>
      <button type="button" class="btn btn-secondary" >Atualizar</button> <!-- (click)="onRefresh()" -->
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="(servicos$ | async) as servicos; else loading">
      <thead>
        <tr>
          <th>#</th>
          <th>Serviço</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let servico of servicos">
          <td>{{ servico.id }}</td>
          <td>{{ servico.nome }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm" ><!-- (click)="onEdit(curso.id)" -->
                Atualizar
              </button>

              <button class="btn btn-outline-danger mb-1 btn-sm" ><!-- (click)="onDelete(curso)" -->
                Remover
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Carregando Serviços...</span>
    </ng-template>

    <!--ng-template #loadingError>
      <div *ngIf="error$ | async; else loading" >
        Erro ao carregar cursos. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
          <span>Carregando Cursos...</span>
      </ng-template>
    </ng-template -->
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Tem certeza que deseja remover esse serviço?</p>
    <button type="button" class="btn btn-default" >Sim</button> <!--(click)=onConfirmDelete() -->
    <button type="button" class="btn btn-primary" >Nao</button> <!-- (click)=onDeclineDelete() -->
  </div>
</ng-template>