<mat-card>
  <mat-card-title>Alterar Serviço</mat-card-title>
   <form>
      <mat-form-field>             <!--  Two way data binding -->
        <input matInput placeholder="Nome" [(ngModel)]="job.name" name="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Tipo do Serviço" [(ngModel)]="job.tipo" name="tipo">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço (R$)" [(ngModel)]="job.preco" name="preco">
      </mat-form-field>
      <mat-form-field >
        <input matInput placeholder="Observação" [(ngModel)]="job.observacao" name="observacao">
      </mat-form-field>
  </form> 
  <button mat-raised-button (click)="updateJobs()" color="primary">
    Atualizar
</button>
<button mat-raised-button (click)="cancelJobs()">
    Cancelar
</button>
</mat-card>



