<mat-card>
  <mat-card-title>Excluir Serviço</mat-card-title>
   <form>
      <mat-form-field>             <!--  On way data binding -->
        <input matInput placeholder="Nome" [value]="job.name" name="name" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Tipo" [value]="job.tipo" name="tipo" disabled>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Preço" [value]="job.preco" name="preco" disabled>
      </mat-form-field>
  </form> 
  <button mat-raised-button (click)="deleteJobs()" color="primary">
    Deletar
</button>
<button mat-raised-button (click)="cancelJobs()">
    Cancelar
</button>
</mat-card>




