<div fxLayout="row wrap" class="tudo">
    <div fxFlex="40" fxFill fxLayoutAlign="start center">
        <mat-form-field>
                <mat-label>Data do Serviço</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
    </div>
    <div fxFlex></div>
          <div fxFlex="40" fxFill fxLayoutAlign="start center">
            <mat-form-field>
                <mat-label>Horário do Serviço</mat-label>
                <input matInput type="time" placeholder="" formControlName="time" #time/>
            </mat-form-field>
          </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
</div>