
.sidenav {
  width: 200px;
  background-color: rgba(33, 138, 167, 0.84);
}
.sidenav a {
  color: #FFF;
}
.sidenav i {
    padding-right: 10px;
}

.content {
 padding: 16px;
 background-color: #FFF;
}