<!DOCTYPE html>
<html lang="en">
<head>
 
    <title>control-manager-services</title>
    
</head>
<body>
    <footer class="bg-dark text-white pt-4  pb-4">

        <div class="container text-center text-md-left">

            <div class="row text-center text-md-left">

                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h5 class="d-flex flex-column  mb-3  font-weight-bold text-light">{{this.name}}</h5>
                    <div class="text-align-center">{{year}}</div>
                </div>

            </div>
           
        </div>

    </footer>
    
</body>
</html>
